<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CountryInformationServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CountryInformationServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.ezzylearning.com/services/CountryInformationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CountryInformationServiceSoap"
                contract="CountryInformationServiceSoap" name="CountryInformationServiceSoap" />
            <endpoint address="http://www.ezzylearning.com/services/CountryInformationService.asmx"
                binding="customBinding" bindingConfiguration="CountryInformationServiceSoap12"
                contract="CountryInformationServiceSoap" name="CountryInformationServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>